{{ define "main" }}

<link rel="stylesheet" href="{{ "signup.css" | relURL }}">

<div id="mc_embed_signup">
<form action="https://ninthsense.us12.list-manage.com/subscribe/post?u=ceb52d23dd5b4c48555b9f344&amp;id=79b5afbc5d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label class="title" for="mce-EMAIL">Subscribe to our mailing list</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>

    <!-- form bot signups-->
   <!--  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ceb52d23dd5b4c48555b9f344_79b5afbc5d" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div> -->
</form>
</div>

{{ end }}