



{{ define "main" }}
{{ partial "header.html" . }}
    <div class="inner-s">

            <div>
                {{ range (where .Data.Pages "Section" "blog").GroupByDate "2 Jan 2006" }}
                    {{ range .Pages }}
                    <div class="col-sm-6 col-md-3">
                        <h3 class="text-center">{{ .Title }}</h3>
                        <p>{{ .Summary }}</p>
                        <p class="text-center"><a href="{{ .Permalink }}" class="btn btn-action">Read more</a></p>
                    </div>
                    {{ end }}
                {{ end }}
            </div>

    </div>


{{ end }}